# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE / editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# AWS
.aws/
